*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    background-color: white;
    border-radius: 5px;
}

body{
    background: linear-gradient(green, white) no-repeat;
}

button{
    margin-top: 10px;
}